:root {
  --base-background-color: #27282E;
  --foreground-color: #161D21/* 161618 */;
  --background-color: #333E4C;
  --default-color: #FFF;
}
body {

  color: var(--default-color);
  background: var(--base-background-color);
  margin: 0;
  font-family: poppins !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
